

.wrapp {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 150px;

}


.card {
    width: 250px;
    border: 2px solid black;
    display:flex;
    flex-direction:column;
    min-height: 100%;
    align-items: center;
}